<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>PokemonGo Wiki</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(17, 207, 207);">
    <a class="navbar-brand" href="/">PokemonGo Wiki</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">        
              <a href="{{ url_for('pokedata_list') }}" style="color:#2E4053;">Pokemon species</a>        
        </li>
        <li class="nav-item">
                <a href="{{ url_for('pokedata_list_types') }}" style="color:#F7F9F9;">Pokemon types</a>
          </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a href="{{ url_for('pokemons_index') }}" style="color:#2E4053;">Your pokemons</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('pokemons_form') }}" style="color:#F7F9F9;">Add new pokemon</a>
        </li>
        {% endif %}
      </ul>

      <div class="form-inline mt-2 mt-md-0">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth_logout') }}" style="color:#2E4053;">Log out, {{ current_user.name }}</a>
        {% else %}
        <a href="{{ url_for('auth_login') }}" style="color:#2E4053;"> Login</a>
        <a href="{{ url_for('users_form') }}" style="color:#F7F9F9;"> Sign in </a>
        {% endif %}
      </div>
    </div>
  </nav>


  <div class="container">
    {% block body %} {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>