{% extends "layout.html" %} 
{% block body %} 
{% if pokedatas %}
<table>
    <tr>
        <th>Pokemon</th>
    </tr>
    {% for pokedata in pokedatas %} 
    {% if pokedata.id %}
    <tr>
        <td><a href="{{ url_for('pokedata_pokemon', pokedata_id=pokedata.id) }}"> {{ pokedata.name }}</a> </td>
    </tr>
    {% endif %} 
    {% endfor %}
</table>
{% else %}
<p>
    There aren't any pokemons!
    <br>
    {% if current_user.admin %}
    <a href="{{ url_for('pokedata_form')}}"> Add more pokemons here.</a>
    {% endif %}
</p>
{% endif %} 
{% endblock %} 