{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Pokemon</th>
      <th>CP</th>
      <th>HP</th>
      <th>Powerupped</th>
      <th></th>
    </tr>
    {% for pokemon in pokemons %}
    <tr>    
      <td><a href="{{ url_for('pokemons_pokemon', pokemon_id=pokemon.id) }}"> {{ pokemon.name }}</a> </td>
      <td>{{ pokemon.cp }}</td>
      <td>{{ pokemon.hp }}</td>
      <td>{{ pokemon.powerupped }}</td>
      <td>
	<form method="POST" action="{{ url_for('pokemons_set_powerupped', pokemon_id=pokemon.id) }}">
	  <input type="submit" value="Change status!"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}