{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('pokemons_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    <tr>
      <td>
        {{ form.cp.label }}
      </td>
      <td>
        {{ form.cp }}
      </td>
      <td>
          <ul>
            {% for error in form.cp.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    <tr>
    	<td>
        {{ form.hp.label }}
      </td>
      <td>
        {{ form.hp }}
      </td>
      <td>
        <ul>
          {% for error in form.hp.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
    	<td>
        {{ form.dust.label }}
      </td> 
      <td>
        {{ form.dust }}
      </td>
      <td>
        <ul>
          {% for error in form.dust.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
    	<td>
        {{ form.powerupped.label }}
      </td>
      <td>
        {{ form.powerupped }}
      </td>
      <td>
        <ul>
          {% for error in form.powerupped.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
      <td colspan="3">
        <input type="submit" value="Add a new pokemon"/>
      </td>
    </tr>
</form>
{% endblock %}